html{

  background-color: #CFCAC4!important;
}

body {
  margin: 0;
  font-family: 'Lobster','Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


